*:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    rgb(255, 89, 100),
    #f6a035,
    rgb(236, 219, 58)
  );
  background-size: 800% 400%;
  animation: gradientBG 5s ease infinite;
}

.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* padding-top: 8vh; */
  width: 80%;
}

.login .input-with-label {
  font-size: 14px;
  position: relative;
}

.login .input-with-label input {
  text-align: left;
  width: 100%;
  height: 50px;
  line-height: 1em;
  padding: 0 15px 0 105px;
  box-sizing: border-box;
  color: #000;
  background-color: white;
  /* border: 1px solid #000;
    border-radius: 3px; */
  font-size: 13px;
}

.login .input-with-label label {
  position: absolute;
  left: 15px;
  top: 19px;
  color: #000;
}

.auth h1 {
  text-align: center;
  padding-bottom: 20px;
  color: #274555;
  font-size: 40pt;
  font-family: "Lobster";
}

.login .login-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.login .login-container .login-box {
  width: 200%;
  text-align: left;
  padding-bottom: 10px;
  display: block;
}

.login .login-container .btn--login {
  width: 100%;
  box-shadow: none;
  line-height: 50px;
}

.login .login-container button {
  float: right;
  /* width: 40%; */
  border: none;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  /* margin-top: 10px; */
  box-shadow: none;
}

.login .login-subcontainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #ffda8e;
  border-radius: 25px;
  background: linear-gradient(to bottom, ghostwhite, #fffcf0);
  /* background-color: #fffcf0; */
  border-radius: 25px;
}

.login .sns-login {
  display: relative;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login .social-login {
  float: right;
}

.login .sns-login .google-login {
  display: inline-block;
}

.login .sns-login #kakao-login {
  display: inline-block;
  margin: 0 10px;
}

.login .sns-login h3 {
  text-align: left;
  color: dimgray;
  font-weight: 700;
  font-size: 18pt;
  margin-block-end: 0;
}

.login .add-option {
  width: 100%;
  margin: 0 auto;
}

.login .wrap {
  width: 100%;
  height: 50px;
}

.login .wrap p {
  float: left;
  font-size: 15px;
}

.login .wrap .btn--text {
  float: right;
}

.join {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.join .join-container {
  /* margin-top: 8vh; */
  margin-bottom: 10px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #ffda8e;
  border-radius: 25px;
  background: linear-gradient(to bottom, ghostwhite, #fffcf0);
}

.join h1 {
  text-align: center;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  color: #274555;
  font-weight: 900;
  font-size: 40pt;
  font-family: "Lobster";
}

.auth h2 {
  text-align: center;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  color: #274555;
  font-size: 30pt;
  font-family: "Lobster";
}

.join .input-with-label {
  font-size: 14px;
  position: relative;
  margin-bottom: 12px;
}

.join .email-input {
  display: flex;
}

.join #email-check {
  margin-left: 10px;
  background-color: #6f2108;
  width: 80px;
}

.join .input-with-label input {
  text-align: right;
  width: 100%;
  height: 50px;
  line-height: 1em;
  padding: 0 15px 0 105px;
  box-sizing: border-box;
  color: #000;
  background-color: white;
  /* border: 1px solid #000;
    border-radius: 3px; */
  font-size: 13px;
}

.join input[type="date"]::-webkit-calendar-picker-indicator,
.join input[type="date"]::-webkit-inner-spin-button {
  display: none;
  appearance: none;
}

.join input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.join .input-with-label label {
  position: absolute;
  left: 15px;
  top: 19px;
  color: #000;
}

.join .error-text {
  font-size: x-small;
  color: rgb(255, 61, 0);
  text-align: right;
}

.join button {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  box-shadow: none;
}

.join .radio-input-with-label {
  font-size: 14px;
  position: relative;
  margin-bottom: 12px;
}

.join .radio-input-with-label label {
  position: absolute;
  left: 15px;
  top: 19px;
  color: #000;
}

.join .join-radio-container {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  line-height: 1em;
  box-sizing: border-box;
  color: #000;
  background-color: white;
  /* border: 1px solid #000;
    border-radius: 3px; */
  font-size: 13px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.join .radio-btn-group {
  display: flex;
  float: right;
  margin-top: 18px;
  margin-right: 10px;
}

.join .radio-btn-group .radio {
  margin: 0 0.25rem;
}

.join .radio-btn-group .radio label {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  color: #444;
  transition: box-shadow 400ms ease;
}

.join .radio-btn-group :hover {
  box-shadow: none;
}

.join .radio-btn-group input[type="radio"] {
  display: none;
}

.join .radio-btn-group input[type="radio"]:checked + label {
  background: rgb(204, 242, 245);
  border-color: rgb(204, 242, 245);
  color: black;
}

.join .radio-btn-group .show {
  font-weight: 400;
  color: #444;
}

.join .radio-btn-group span {
  background: #f5f5f5;
  color: #f44336;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  border: 1px solid #f1f1f1;
}

.join #emailAuthInput {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
  /* float: right; */
}

.join #emailAuthInput input {
  width: 70%;
  font-size: 10pt;
}

.join #emailAuthInput button {
  border: 2px solid #6f2108;
  border-radius: 25em;
  width: 80px;
}

.join .join-button-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
  .login {
    width: 30%;
  }

  /* .login .login-container .login-box {
        width: 79%;
        float: left;
        margin-right: 7%;
    }

    .login .login-container .v-btn:not(.v-btn--round).v-size--default {
        height: 110px;
        width: 9%;
        float: right;
    } */

  .join {
    width: 30%;
  }
}
