/* BarButton component */
.bar-btn {
    font-family: "Lobster", cursive;
    background-color: #fbedeb;
    padding: 3px 20px 3px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 25px;
    display: inline;
    transition-duration: 0.5s;
  }
  .bar-btn img {
    display: none;
  }
  .bar-btn:hover {
    padding: 3px 40px 3px 20px;
  }
  .bar-btn:hover img {
    display: inline;
  }
  .bar-btn-img {
    height: 90%;
    position: absolute;
    margin-top: 2px;
  }