@font-face {
  font-family: "fontello";
  src: url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot");
  src: url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix")
      format("embedded-opentype"),
    url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.woff")
      format("woff"),
    url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf")
      format("truetype"),
    url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="m-icon-"] {
  font-family: "fontello";
  font-style: normal;
  font-size: 1.7em;
}

.m-icon-cog:after {
  content: "⭐";
  /* content: "\2605"; */
}
.m-icon-cw:after {
  /* content: "\27f3"; */
  content: "🍀";
}

.m-icon-location:after {
  /* content: "\e724"; */
  content: "🛫";
}
.m-icon-bookmark:after {
  content: "📌";
  /* content: "📖"; */
}

.m-sort-elements {
  list-style: none;
  text-align: center;
}

.m-sort-elements li {
  position: relative;
  display: inline-block;
  /* margin-right: -4px; */
}

.m-sort-elements a:link,
.m-sort-elements a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #000000;
  margin: 10px;
  /* width: 4vw; */
  /* height: 40px; */
  position: relative;
  text-align: j;
  line-height: 40px;
  border-radius: 30px 30px 30px 30px;
  width: 120px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}
.m-sort-wrapper {
  float: left;
  background: #ddd;
  border-radius: 30px;
  width: auto;
  height: auto;
}
.m-sort-elements a:before {
  display: block;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.m-sort-elements a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.m-sort-elements a:link,
.m-sort-elements a:visited {
  display: flex;
  justify-content: space-evenly;
}
.m-sort-elements {
  text-align: center;
}

@media (max-width: 1000px) {
  li a label {
    display: none;
  }
  .m-sort-elements a:link,
  .m-sort-elements a:visited {
    display: block;
    text-decoration: none;
    background-color: #f7f7f7;
    color: #000000;
    position: relative;
    width: 40px;
  } 
}


.m-sort-container{
    display:flex;
    position:fixed;
    top:10vh;
    left:10vw;
    justify-content: space-between;
}