/* mypage.vue */
.mypage-container {
    /* margin-top: 50px; */
    width:100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .mypage-container h2{
    color:grey;
    font-weight: 900;
  }
  .part-container{
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
  }
  .name-container {
    padding-top: 90px;
    margin-bottom: 70px;
    text-align: center;
  }
  .tab-container {
    margin-top: 30px;
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }
  .box-container {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey !important;
    /* border :1px solid #F5331E; */
    overflow:hidden
  }
  /* info components */
  .user-details {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    
    /* border:1px solid palevioletred; */
    /* display: flex; */
    
  }
  .edit-btn{  
    /* border: 1px solid red; */
    float:right;
  }
  .edit-box{
    /* 취소, 확인 버튼 */
    width:95%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    
  }
  .user-modify {
    padding: 3px;
  
    border: 1px solid grey;
  }
  .user-details-with-label{
    font:bolder;
    color: black;
    position: relative;
  }
  .user-details-with-label label{
    font:lighter;
    color: gray;

    position: absolute;
    left: 30%;
   
  }

  .edit-with-label{
    font-size: 14px;
    position: relative;

  }
  .edit-with-label label{
    position: absolute;
    left: 30%;
    color: grey;
    
  }
  .edit-with-label input{
    text-align: left;
    width: 250px;
    height: 30px;
    line-height: 1em;
    padding: 0 15px 0 70px;
    box-sizing: border-box;
    color: #000;
    background-color: lightyellow;
    /* border: 1px solid #000;
    border-radius: 3px; */
    font-size: 13px;
    
  }
  .modify-button {
    padding: 5px 18px;
    /* border: 1px solid grey; */
    border: 2px solid #f8f9f9;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .modify-button:hover {
    background-color: #f8f9f9;
    border: 1px solid #f8f9f9;
  }
  .gender-box {
    
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
    
  }
  
    /* radio css */
  .mypage-radio-btn-group {
    width:57%;
    display: flex;
    float: right;
    margin-bottom: 15px;
  }
  .mypage-radio-btn-group label{
    font-size: 14px;
    color: grey;

    /* position: absolute;
    left: -7.5%; */
  }
  .mypage-radio-btn-group .mypage-radio {
    margin: 0 .35rem;
  }

  .mypage-radio-btn-group .mypage-radio label {
    background: #fff;
    border: 1px solid #ddd;
    padding: .2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #444;
    transition: box-shadow 400ms ease;       
  }
      
 .mypage-radio-btn-group input[type="radio"] {
    display: none;
  }
      
 .mypage-radio-btn-group input[type="radio"]:checked+label {
    background: rgb(204, 242, 245);
    /* color: #fff; */
    border-color: rgb(204, 242, 245);
  }

  
  /* reviews components*/

  /* card components */
  .tab-review-card{
    border: 0.5px solid black ;
    padding: 10px;
    float : left;
    /* margin-top:10px;
    margin-bottom: 5px;
    margin-right:10px; */
    margin : 10px 10px 5px 5px;
    width: 170px;
    height: 140px;
  }
  
  .review-card-name{
  }
  .review-card-contents{
    margin-top :10px;
    margin-bottom :10px;
  }
  .review-card-rating{
    
  }

  /* food,grid,info components */

  /* grid list*/
  .gridlist-box{
    /* border: 1px solid red; */
    float: left;
    width: 100%;
  }
  /*gridboomark components*/
  .gridbookmark-container{
    /* border: 1px solid navy; */
    width: 50%;
    float:left;
  }
  .gridbookmark-box{
    display: flex;
    width: 100%;
  }
 
  
@media screen and (min-width: 800px) {
  .mypage-container {
    width: 80%;
  }
 
  
}

@media screen and (max-width:800px){
    .tab-category{
    margin: auto;
   }
   .slide-group{
     width:80%;
   }
   .box-container{
    margin-left: 2.5%;
    margin-right: 2.5%;
   }
  .mypage-radio-btn-group{
    width:80%;
  }
  
  /*info tab*/
  .user-details-with-label label{
    left:8%;
    font-size:13px;
  }
  .edit-with-label label{
    font-size:13px;
    left: 8%;
  }
  .edit-with-label input{
    text-align: left;
    margin-left: 50px;
    width: 180px;
    line-height: 1em;
    padding: 0 10px 0 20px;
  }
  .mypage-radio-btn-group {
    width:72%;
  }
  .modify-button{
    font-size:14px;
  }

  /*grid tab bookmark*/
  .gridbookmark-container{
    width: 100%;
    float:none;
  }
  
}

