/* mypage.vue */
.mypage-wrapper{
  background: linear-gradient(
    -45deg,
    rgb(255, 89, 100),
    #f6a035,
    rgb(236, 219, 58)
  );
  background-size: 800% 400%;
  animation: gradientBG 5s ease infinite;
  width:100vw;
  height:100vh;
}
.tab-wrapper{
  padding:5px 20px 20px 20px;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
}

.mypage-container {
  /* margin-top: 50px; */
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.mypage-container h2 {
  font-family: "Lobster";
  color: dimgrey;
  font-weight: 900;
}
.part-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  align-content: center;
}
.name-container {
  padding-top: 5vh;
  margin-bottom: 7vh;
  text-align: center;
}
.tab-container {
  margin-top: 30px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
}
.store-box-container{
  height: 550px;
  padding: 20px;
  margin-top: 10px;
  border: 3px solid grey !important;
  border-radius: 25px;
  max-height: 900px;
  overflow-y:auto;
}
.store-box-container::-webkit-scrollbar{
  display:none;
}
.box-container {
  padding: 10px;
  height: 550px;
  margin-top: 10px;
  border: 3px solid grey !important;
  border-radius: 25px;
  max-height: 900px;
  overflow-y: auto;
  /* overflow:hidden; */
}
.box-container::-webkit-scrollbar{
  display:none;
}
.info-box{
  padding : 10px;
  margin : 10px;
}
/* info components */
.user-details {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  
  /* display: flex; */
}
.edit-btn {
  /* border: 1px solid red; */
  float: right;
}
.edit-box {
  /* 취소, 확인 버튼 */
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}
.user-modify {
  padding: 3px;

  border: 1px solid grey;
}
.user-details-with-label {
  font: bolder;
  color: black;
  position: relative;
}

.user-details-with-label label {
  font: lighter;
  color: gray;

  position: absolute;
  left: 30%;
}

.edit-with-label {
  font-size: 14px;
  position: relative;
}
.edit-with-label label {
  position: absolute;
  left: 30%;
  color: grey;
}
.edit-with-label input {
  text-align: left;
  width: 250px;
  height: 30px;
  line-height: 1em;
  padding: 0 15px 0 70px;
  box-sizing: border-box;
  color: #000;
  background-color: lightyellow;
  /* border: 1px solid #000;
    border-radius: 3px; */
  font-size: 13px;
}
.modify-button {
  padding: 5px 18px;
  /* border: 1px solid grey; */
  border: 2px solid #f8f9f9;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.modify-button:hover {
  background-color: #f8f9f9;
  border: 1px solid #f8f9f9;
}
.withdraw-button{
  position: absolute;
  top:90%;
  right:1%;
  transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);

  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #f8f9f9;
  background-color: #f8f9f9 ;
}
.withdraw-button:hover{
  background-color: #cfd3d3 ;
  border: 1px solid #cfd3d3 ;
}
.gender-box {
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* radio css */
.mypage-radio-btn-group {
  width: 57%;
  display: flex;
  float: right;
  margin-bottom: 15px;
}
.mypage-radio-btn-group label {
  font-size: 14px;
  color: grey;

  /* position: absolute;
    left: -7.5%; */
}
.mypage-radio-btn-group .mypage-radio {
  margin: 0 0.35rem;
}

.mypage-radio-btn-group .mypage-radio label {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  color: #444;
  
  transition: box-shadow 400ms ease;
}

.mypage-radio-btn-group input[type="radio"] {
  display: none;
}

.mypage-radio-btn-group input[type="radio"]:checked + label {
  background: rgb(204, 242, 245);
  /* color: #fff; */
  border-color: rgb(204, 242, 245);
}

/* reviews components*/
.reviews-box{
  margin: 10px;
  padding: 10px;
}
.review-icon{
  
  width: 2.5%;
  height: 2.5%;
}
/* card components */
.v-card{
  box-shadow: none !important;
}
.tab-review-card {
  border: 0.5px solid black;
  padding: 10px;
  float: left;
  /* margin-top:10px;
    margin-bottom: 5px;
    margin-right:10px; */
  margin: 10px 10px 5px 5px;
  width: 170px;
  height: 140px;
}

.review-card-name {
}
.review-card-contents {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* food,grid,info components */
/*food bookmark*/
.foodbookmark-item{
  width: fit-content;
  height: 30%;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgb(0,0, 0, 0.2);
  border: 1px solid red;
  padding: 10px;

}
.hvrbox .foodgridbookmark-img {
	display: block;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: block;
	overflow: hidden;
  /* border:1px solid gainsboro; */
  width:  300px;
  height: 300px;
  cursor: pointer;
  /*상 우 하 좌*/
  margin: 5px 5px 5px 15px;
  /* margin: 5px; */
  float: left;
}
.hvrbox img {
  
  width:  0 auto;
  height: 0 auto;
  max-height: 300px ;
}
.hvrbox .hvrbox-layer_bottom {
  display:block;
  object-fit: cover;
  margin: auto; 
  width:300px;
  height:300px;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 19px;
	display: inline-block;
	position: absolute;
	top: 50%;
  left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

 /*storeInfomodal */
 .v-dialog{
  width :30vw !important;
  }
 .storeInfo-modal-container {
  width:50vw;
  overflow-y:auto;
  background-color:rgb(243,243,213);
}
.storeInfo-modal-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* Image component */
.storeInfo-modal-image {
  position: relative;
  resize: both;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text component */
.storeInfo-modal-text {
  position: relative;
  top: 1vh;
}

/* TitleText component */
.storeInfo-modal-text-title {
  text-align: center;
}
.storeInfo-modal-text-name {
  font-size: 2rem;
  margin-left: 1vw;
  margin-bottom: 1vh;
  display: block;
}
.storeInfo-modal-text-rating {
  display: inline;
  margin-right: 4vw;
  margin-left: 1vw;
}

/* BodyText component */
.storeInfo-modal-text-body {
  position: relative;
  padding: 20px;
  margin-top: 3vh;
}
.storeInfo-modal-text-tag {
  overflow-wrap: inherit;
}

/* MenuText component */
.storeInfo-modal-text-menu {
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 1vw;
  border-radius: 10px;
  background-color: rgb(241, 239, 239);
}
.storeInfo-modal-menu-price {
  float: right;
}
.storeInfo-modal-menu-more {
  text-decoration: underline;
  cursor: pointer;
}

/* 사이드바 접기버튼 */
.storeImfo-modal-img-container{
  position: relative;

}
.storeInfo-modal-collide {
  position: absolute;
  top:5%;
  right:1%;
  transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);
  color: white;
  font-size:1.5rem;
  text-shadow: 0px 3px 3px black;
}



/* grid list*/
.gridlist-box {
  /* border: 1px solid red; */
  /* float: left; */
  width: 100%;
}
/*gridboomark components*/
.gridbookmark-container {
  width: 50%;
  float: left;
}
.gridbookmark-box {
  display: flex;
  width: 100%;
}
.girdbookmark-elem-title {
  cursor: pointer;
}
.girdbookmark-elem-title .edit-bookmarkgrid-title input{
  border: 1px solid red;
}
.title-modify-input{
  color:gray;
  padding:2px;
  border:1px solid grey;
}
/* icon */
.gridlist-box .v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin: 16px !important;
}
.gridlist-box .v-list-item__content {
  padding: 0 !important;
}
.gridbookmark-box .v-list-item__icon {
  margin: 5px 0 !important;
}


@media screen and (min-width: 800px) {
  .mypage-container {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .tab-category {
    margin: auto;
  }
  .slide-group {
    width: 80%;
  }
  .name-container{
    margin-bottom: 30px;
  }
  .box-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .store-box-container{
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    
  }
  .mypage-radio-btn-group {
    width: 80%;
  }

  /*info tab*/
  .user-details-with-label label {
    left: 8%;
    font-size: 13px;
  }
  .edit-with-label label {
    font-size: 13px;
    left: 8%;
  }
  .edit-with-label input {
    text-align: left;
    margin-left: 50px;
    width: 180px;
    line-height: 1em;
    padding: 0 10px 0 20px;
  }
  .mypage-radio-btn-group {
    width: 72%;
  }
  .modify-button {
    font-size: 14px;
  }
  .withdraw-button{
    font-size:12px;
    padding: 6px 13px;
    right:-4%
  }
  /*grid tab bookmark*/
  .gridbookmark-container {
    width: 100%;
    float: none;
    height: 50px;
  }
  

  .gridlist-box .v-list-item {
    padding: 8px 0 !important;
  }

  .title-modify-input{
    width: 80%;
  }

  .tab-food-box{
    padding:5px;
    
  }

  .storeInfo-modal-container .sidebar-text-name{
    font-size: 1.7em;
  }
  .storeInfo-modal-container .sidebar-text-rating {
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .storeInfo-modal-container .sidebar-bookmark{
    margin-right: 1vw;
    width: 35px;
    height: 35px;
  }

  .storeInfo-modal-container .sidebar-text-body {
    padding:10px;
  }
  .v-dialog{
    width: 80% !important;
  }
  
  .hvrbox {
    margin-top: 3px;
    margin-bottom: 3px;

    width: 135px;
    height:135px;
  }
  .hvrbox .hvrbox-layer_bottom{
    width:135px;
    height:135px
  }
}
