.nav-bar {
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: center;
  margin:0 3vw 0 3vw;
  height: 10vh;
  width: 94vw;
}

.nav-bar-router {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  padding: 1vh 10px 1vh 0;
}

.nav-bar-banner-container {
  height: 12vh;
  width: 30vw;
  padding:10px;
}
/* GR */
.nav-bar-mainbanner .bt1 {
  position: fixed;
  max-height: 2.5vmax;
  max-width: 5vmax;
}
/* EAT */
.nav-bar-mainbanner .bt2 {
  position: fixed;
  max-height: 2.5vmax;
  max-width: 6.5vmax;
}
/* 그래 */
.nav-bar-mainbanner .bt3 {
  position: fixed;
  opacity: 80%;
  max-height: 2.5vmax;
  max-width: 5vmax;
}
/* 잇 */
.nav-bar-mainbanner .bt4 {
  position: fixed;
  max-height: 2.5vmax;
  max-width: 5vmax;
  opacity: 80%;
}


.nav-bar-mainbanner .bt1,
.nav-bar-mainbanner .bt2,
.nav-bar-mainbanner .bt3,
.nav-bar-mainbanner .bt4 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
