/* 상세정보 Sidebar */

/* 전체 container */
.sidebar-container {
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0vh;
  width: 27%;
  min-width: 280px;
  height: 90%;
  overflow-y: auto;
}

/* Image component */
.sidebar-image {
  position: relative;
  resize: both;
  width: 100%;
  max-height: 240px;
}

/* Text component */
.sidebar-text {
  position: relative;
  top: 1vh;
}

/* TitleText component */
.sidebar-text-title {
  text-align: center;
}
.sidebar-text-name {
  font-size: 2rem;
  margin-left: 1vw;
  margin-bottom: 1vh;
  display: block;
}
.sidebar-text-rating {
  display: inline;
  margin-right: 4vw;
  margin-left: 1vw;
}

/* BodyText component */
.sidebar-text-body {
  position: relative;
  padding: 20px;
  margin-top: 3vh;
}
.sidebar-text-tag {
  overflow-wrap: inherit;
}

/* MenuText component */
.sidebar-text-menu {
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 1vw;
  border-radius: 10px;
  background-color: rgb(241, 239, 239);
}
.sidebar-menu-price {
  float: right;
}
.sidebar-menu-more {
  text-decoration: underline;
  cursor: pointer;
}

/* Review component */
.sidebar-review {
  margin-top: 3vh;
  margin-right: 1vw;
  margin-left: 1vw;
}
.review-write {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.sidebar-review-textarea {
  position: relative;
  overflow: hidden; 
  word-wrap: break-word; 
  resize: none; 
  height: 160px;
  width: 100%;
  padding-top: 2vh;
  padding-left: 1vw;
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
.sidebar-review-rating {
  float: left;
  display: block;
}