/* 상세정보 Sidebar */

/* 전체 container */
.sidebar-container {
  position: fixed;
  width: 27%;
  height: 100%;
}

/* Image component */
.sidebar-image {
  position: relative;
  width: 100%;
  height: 30%;
}