@font-face {
  font-family: "fontello";
  src: url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot");
  src: url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix")
      format("embedded-opentype"),
    url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.woff")
      format("woff"),
    url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf")
      format("truetype"),
    url("https://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: "fontello";
  font-style: normal;
  font-size: 1.7em;
}

.icon-cog:after {
  content: "⭐";
  /* content: "\2605"; */
}
.icon-cw:after {
  /* content: "\27f3"; */
  content: "🍀";
}

.icon-location:after {
  /* content: "\e724"; */
  content: "🛫";
}
.icon-bookmark:after {
  content: "📌";
  /* content: "📖"; */
}

.sort-elements {
  list-style: none;
  text-align: center;
}

.sort-elements li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.sort-elements a:link,
.sort-elements a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #000000;
  margin: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: j;
  line-height: 40px;
  border-radius: 30px 30px 30px 30px;
  width: 120px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}
.sort-wrapper{
    float: left;
  background: #ddd;
  border-radius: 30px 30px 30px 30px;
  width: auto;
  height: auto;
}
.sort-elements a:before {
  display: block;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.sort-elements a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.sort-elements a:link, .sort-elements a:visited{
    display:flex;
    justify-content: space-evenly;
}
.sort-elements {
  position: fixed;
  right: 1vw;
  top: 5vh;
  padding: 30px 0 10px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .sort-elements {
    top: 10vh;
    padding-bottom: 0;
  }
  [class*="icon-"] {
    font-size: 1.3em;
  }
  .sort-elements a:link,
  .sort-elements a:visited {
    margin: 0.8rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
  .sort-elements a:before {
    top: -0.5em;
    left: -0.5em;
    bottom: -0.5em;
    right: -0.5em;
  }
}